<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    h1 {
      text-align: center;
      margin-top: 20px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      margin: 5px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>Parkings</h1>
  <%= link_to('Park New Car', 'parkings/park_car', class: 'button') %><br>
  <%= link_to('Remove car from parking', 'parkings/remove_car', class: 'button') %><br>
  <%= link_to('Registration Numbers by Color', 'parkings/registration_numbers_by_color', class: 'button') %><br>
  <%= link_to('Ticket Numbers by Registration number', 'parkings/ticket_number_by_registration_number', class: 'button') %><br>
  <%= link_to('Ticket Numbers by by Color', 'parkings/ticket_numbers_by_color', class: 'button') %><br>

  <table>
    <thead>
      <tr>
        <th>Serial ID</th>
        <th>Car Registration Number</th>
        <th>Car Color</th>
        <th>Spot Assigned</th>
        <th>Ticket Number</th>
        <th>Entry At</th>
      </tr>
    </thead>
    <tbody>
      <% @parkings.each do |parking| %>
        <tr>
          <td><%= parking.id %></td>
          <td><%= parking.car_registration_number %></td>
          <td><%= parking.car_color %></td>
          <td><%= parking.spot_assigned %></td>
          <td><%= parking.ticket_number%></td>
          <td><%= parking.created_at.utc.strftime('%Y-%m-%d %H:%M:%S')%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>